
<nav>
    <a href="{% url 'product_list' %}">Products || </a>
    <a href="{% url 'cart' %}">Cart || </a>
    <a href="{% url 'wishlist' %}">Wishlist</a>
</nav>

<h1>Order #{{ order.id }}</h1>

<p>Total Amount: ₹{{ order.total_amount }}</p>

<p>Status: {{ order.status }}</p>

<hr>

<h2>Products</h2>

{% for item in order.orderitem_set.all %}

    <div>

        {% if item.product.image %}
            <img src="{{ item.product.image.url }}" width="150">
        {% endif %}

        <h4>{{ item.product.name }}</h4>

        <p>Quantity: {{ item.quantity }}</p>

        <p>Price: ₹{{ item.price }}</p>

    </div>

    <hr>

{% endfor %}

<h2>Tracking</h2>

{% if order.status == 'Paid' %}
    <p>✓ Paid</p>
    <p>□ Packed</p>
    <p>□ Shipped</p>
    <p>□ Delivered</p>

{% elif order.status == 'Packed' %}
    <p>✓ Paid</p>
    <p>✓ Packed</p>
    <p>□ Shipped</p>
    <p>□ Delivered</p>

{% elif order.status == 'Shipped' %}
    <p>✓ Paid</p>
    <p>✓ Packed</p>
    <p>✓ Shipped</p>
    <p>□ Delivered</p>

{% elif order.status == 'Delivered' %}
    <p>✓ Paid</p>
    <p>✓ Packed</p>
    <p>✓ Shipped</p>
    <p>✓ Delivered</p>
{% endif %}

<h2>Shipping Address</h2>

<p>{{ order.shipping_address.full_name }}</p>
<p>{{ order.shipping_address.phone }}</p>
<p>{{ order.shipping_address.address }}</p>
<p>{{ order.shipping_address.city }}</p>
<p>{{ order.shipping_address.state }}</p>
<p>{{ order.shipping_address.pincode }}</p>